body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lemonchiffon;
}

ul {
    padding: 0rem;
}

header {
    background-color: olivedrab;
    text-align: right;
}

header ul li {
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 2rem
}

.center {
    text-align: center;
}

#rarely-use {
    font-weight: bolder;
    text-decoration: underline;
    color: red;
}

h1, h2 {
    text-align: center;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: purple;
}

a:visited {
    color: purple;
}

.small-italic {
    font-size: small;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

ol, li {
    color: darkred
}

ul, li {
    color: black;
}

.color-name {
    color: blueviolet;
}

.color-rgb {
    color: rgba(171, 18, 36, 0.7);
}

.color-hex {
    color: #006400;
}

.color-hsl {
    color: hsl(190, 71%, 23%);
}

.color-contrast {
    background-color: #415a77;
    color: #ffd60a;
}

.pixel-22 {
    font-size: 22px;
}

.dashed-border {
    border: 2px solid #006400;
}

.fifty-percent {
    width: 50%;
}

.two-rem {
    font-size: 2rem
}

.half-em {
    font-size: 0.5em;
}

/*Still don't completely understand the rem and rem concept*/

.box {
    margin: 50px;
    background-color: pink;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
}

.padding {
    padding: 100px;
    background-color: cyan;
    border-style: solid;
    border-color: darkblue;
}

.margin {
    margin: 100px;
    background-color: cyan;
    border-style: solid;
    border-color: darkblue;
}

/*pmb = padding, margin, border*/
.custom-pmb {
    margin: 20px 40px 60px 80px;
    padding: 40px 30px 20px 10px;
    border: solid red 10px;
    border-left: solid blue 20px;
    border-bottom: dotted green 5px;
}

/* open on chrome and right click page and click 'inspect' to see the breakdown of the code. Here you can work out the total width by adding up the different elements e.g. 50px left and right for padding, 25px left and right for margin and 5px left and right for border = total of width of 2x50, 2x25 and 2x5 = 160px total width for that element. This is important for the box method. */

/* testing out background images below - it's the padding that really defines the size of the box or in this case, image*/

.bg-img {
    background-image: url(img/boxer-dog.jpeg);
    padding: 100px;
    padding-top: 150px;
    margin: 25px;
    color: white;
    background-size: cover;
    background-position: center bottom;
}

/* the image repeats itself to cover the space, to stop this you can enter the below:
(example)
.no-repeat {
    background-repeat: no-repeat
    or repeat x (axis only)
    or repeat y
} */

/* when the image repeats, background-size: cover is the best option for making it fit the best without repeating. Then you can use background-position to have the focal point of the image to be cenre, top, bottom left etc. Top right is the default. Then use padding like I have wih the boxer image to play around with the positioning.*/

.background {
    background-image: url(img/moroccan-flower.png);
}

.ch-width {
    width: 40ch;
}