body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lemonchiffon;
}

header {
    background-color: olivedrab;
}

.center {
    text-align: center;
}

#rarely-use {
    font-weight: bolder;
    text-decoration: underline;
    color: red;
}

h1, h2 {
    text-align: center;
}

nav a:link {
    color: white;
}

nav a:visited {
    color: purple;
}

a:visited {
    color: purple;
}

.small-italic {
    font-size: small;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

ol, li {
    color: darkred
}

ul, li {
    color: black;
}

.color-name {
    color: blueviolet;
}

.color-rgb {
    color: rgba(171, 18, 36, 0.7);
}

.color-hex {
    color: #006400;
}

.color-hsl {
    color: hsl(190, 71%, 23%);
}

.color-contrast {
    background-color: #415a77;
    color: #ffd60a;
}

.pixel-22 {
    font-size: 22px;
}

.dashed-border {
    border: 2px solid #006400;
}

.fifty-percent {
    width: 50%;
}

.two-rem {
    font-size: 2rem
}

.half-em {
    font-size: 0.5em;
}

/*Still don't completely understand the rem and rem concept*/

.box {
    margin: 50px;
    background-color: pink;
    border-style: solid;
    border-width: 10px;
    border-color: brown;
}

