/*imported fonts from google fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
    /*font-family: monaco, Consolas, Lucida Console, monospace;*/
    font-family: "Roboto", sans-serif;
    background-image: url(../img/papyrus.webp);
    min-height: 100vh;
}

/*min-height 100vh is good to set because the body will take up the space of the content, so if you don't have that much content in your body/main you don't want the footer to show at the top, you still want to scroll down. Setting a min-height of 100 vh keeps this from happening.*/
/*
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*/
/* the above is CSS reset, this is a useful tool when you lose control of the ems and rems and this is a good way to bring it back to neutral.*/

/*box-sizing calculates content box, border and padding so you can set it all to specific sizes*/

.header-nav {
    display: flex;
    gap: 1em;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.center {
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    border: solid red;
}

.intro-para {
    width: 500px;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.1rem;
    border: solid blue;
}

.h3 {
    border: solid green;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

.css-reset {
    margin: 1.5rem;
    padding: 1rem;
    border: dashed darkorchid 3px;
}
/* below shows the inherit function to make sure the text in the form is consistent with the text outside it*/

.chapter-six {
    font-size: 2rem;
}

input, button {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: hsl(240, 100%, 50%);
}

a:hover {
    /* color:  hsl(211, 100%, 50%); */
    opacity: 0.8;
}

/* look at similar hsl numbers OR use opacity to make it slighlly lighter. Don't use both. */


